@model Radyn.Common.DataStructure.Province
@if (Model != null)
{
   
    @Html.ValidationSummary(true)
    <div class="radynForm">
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.CommonComponent.Title
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item">
                    @Html.EditorFor(model => model.Title)
                </div>
            </div>
        </div>
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.CommonComponent.Country
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item">
                    @Html.DropDownListFor(model => model.CountryId, (SelectList)ViewBag.Country)
                </div>
            </div>
        </div>
    </div>
    
}
