@using Radyn.Common.DataStructure
@using Radyn.Utility
@using Radyn.Web.Mvc;

@using Radyn.FileManager
@model IEnumerable<Language>
    @{
        ViewBag.Title = Resources.Common.Language;
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @section Head{}
    @section PageTitle
{
    }
    @section PageAction
{
        <div class="button-div m-btn waves-blue i-add">
            @{Html.Radyn().ImageActionLink().ActionName("Create").ControllerName("Language").Area("Common").Text(Resources.Common.Create + " " + Resources.Common.Language + " " + Resources.Common.New).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).Render(); }
        </div>
    }
    @section PageActionDown
{
        <div class="button-div m-btn waves-blue i-add">
            @{Html.Radyn().ImageActionLink().ActionName("Create").ControllerName("Language").Area("Common").Text(Resources.Common.Create + " " + Resources.Common.Language + " " + Resources.Common.New).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).Render(); }
        </div>
    }
    <div style="color: Red; font-weight: bold;display:@((ViewBag.Message == null || ViewBag.Message == "") ? "none" : "Inline");direction:@Resources.Common.Direction;text-align:@Resources.Common.Aligment;">
        <ul>
            <li>@ViewBag.Message</li>
        </ul>
    </div>
    <div class="radynForm">
        @{Html.Radyn().Grid(Model).Name("Grid").HtmlAttributes(new { style = "width:98%;margin: 0 auto" }).Columns(columns =>
                {

              //              columns.Template(item => Html.RadynFile().Image().ID(item.LogoId).Alt(item.DisplayName).Style("display:" + (item.LogoId != null ? "inline" : "none")).Render()).Title(@Resources.CommonComponent.LanguageLogoId).Width(40);
              columns.Template(language => language.Id).Title(@Resources.CommonComponent.Id).Width(200).HeaderHtmlAttributes(new { style = "text-align:center" });
                    columns.Template(language => language.DisplayName).Title(@Resources.CommonComponent.LanguageDisplayName).Width(200).HeaderHtmlAttributes(new { style = "text-align:center" });
                    columns.Template(language => language.Enabled ? @Resources.CommonComponent.LanguageEnabled : @Resources.CommonComponent.LanguageDiabled).Title(@Resources.CommonComponent.LanguageStatus);
                    columns.Template(language => language.ShowLogo ? @Resources.Common.Yes : @Resources.Common.No).Title(@Resources.CommonComponent.ShowLogoLanuage).Width(100);
                    columns.Template(language => language.IsDefault ? @Resources.Common.Yes : @Resources.Common.No).Title(@Resources.Common.IsDefult).Width(100);
                    columns.Template(language =>
                        "<a style='cursor: pointer;'  href='" + Url.Content("~/Common/Language/Details?Id=" + language.Id) + "'>" +
                        " <img width='18' align='absmiddle' title='" + Resources.Common.Detail + "' src='" + Url.Content("~/Content/Images/details.png") + "' />" + "</a> | " +
                        "<a style='cursor: pointer;'  href='" + Url.Content("~/Common/Language/Edit?Id=" + language.Id) + "'> " +
                        " <img width='18' align='absmiddle' title='" + Resources.Common.Edit + "' src='" + Url.Content("~/Content/Images/edit.png") + "' />" + "</a> | " +
                        "<a style='cursor: pointer;'  href='" + Url.Content("~/Common/Language/Delete?Id=" + language.Id) + "'>" +
                        " <img width='18' align='absmiddle' title='" + Resources.Common.Delete + "' src='" + Url.Content("~/Content/Images/Delete-Close.png") + "' />" + "</a> ").Width(200).Filterable(false).Encode(false);

                })

              .Sortable(sorting => sorting.Enabled(true))
              .Pageable(paging => paging.Enabled(true))
              .Filterable(filtering => filtering.Enabled(true))
              //.Footer(true)
              .Render();}

    </div>
