@using Radyn.Utility
@using Radyn.Web.Mvc;

@model IEnumerable<Radyn.Security.DataStructure.Action>
    @{
        ViewBag.Title = Resources.Security.Operation;
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @section Head{}
    @section PageTitle
{

    }
    @section PageAction
{
        <div class="button-div m-btn waves-blue i-add">
            @{Html.Radyn().ImageActionLink().ActionName("AddActions").RouteValue(new { roleId = Request.QueryString["roleId"] }).ControllerName("RoleActions").Area("Security").Text(@Resources.Common.Create).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).ImageHeight("20").ImageWidth("20").Render();}
        </div>
        <div class="button-div m-btn waves-red i-return">
            @{Html.Radyn().ImageActionLink().ActionName("Index").ControllerName("Role").Area("Security").Text(@Resources.Common.Return).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).ImageHeight("20").ImageWidth("20").Render();}
        </div>
    }
    @section PageActionDown
{
        <div class="button-div m-btn waves-blue i-add">
            @{Html.Radyn().ImageActionLink().ActionName("AddActions").RouteValue(new { roleId = Request.QueryString["roleId"] }).ControllerName("RoleActions").Area("Security").Text(@Resources.Common.Create).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).ImageHeight("20").ImageWidth("20").Render();}

        </div>
        <div class="button-div m-btn waves-red i-return">
            @{Html.Radyn().ImageActionLink().ActionName("Index").ControllerName("Role").Area("Security").Text(@Resources.Common.Return).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).ImageHeight("20").ImageWidth("20").Render();}
        </div>

    }
    <div class="radynForm">
        @{Html.Radyn().Grid(Model).Name("Grid").HtmlAttributes(new { style = "width:98%;margin: 0 auto" }).Columns(columns =>
                  {
                      columns.Template(action => action.Menu.Title).Title(Resources.Security.Menu).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
                      columns.Template(action => action.Name).Title(Resources.Security.ActionName).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
                      columns.Template(action => "<a style='cursor: pointer;'  href='" + Url.Content("~/Security/RoleActions/RemoveActions?ActionsId=" + action.Id + "&userId=" + Request.QueryString["userId"] + "") + "'>" + @Resources.Common.Delete + "</a>").Width(300);
                  })

                                  .Sortable(sorting => sorting.Enabled(true))
                                  .Pageable(paging => paging.Enabled(true))
                                  .Filterable(filtering => filtering.Enabled(true))
                                  .Render();}
    </div>
