@using Radyn.Web.Mvc;
@model HotelFloor
@{
    ViewBag.Title = Resources.Common.Detail;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{}
@section PageTitle{@Resources.Common.Detail}
@section PageAction {

    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Reservation/HotelFloor/Index?hotelId=" + Model.HotelId)).Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>
}
@section PageActionDown {
  
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Reservation/HotelFloor/Index?hotelId=" + Model.HotelId)).Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>
}
@if (Model != null)
{
    @Html.ValidationSummary(true)
    <div class="radynForm">
        <div class="fit">
            <div>
                <div class="table-row-cap">
                    <div class="item">
                        @Resources.Reservation.FloorName
                    </div>
                </div>
                <div class="table-row-item drp">
                    <div class="item">
                        @Html.DisplayFor(model => model.Name)
                    </div>
                </div>
            </div>
            <div>
                <div class="table-row-cap">
                    <div class="item">
                        @Resources.Reservation.HotelName
                    </div>
                </div>
                <div class="table-row-item drp">
                    <div class="item">
                        @Html.DisplayFor(model => model.Hotel.Name)
                    </div>
                </div>
            </div>
            <div>
                <div class="table-row-cap">
                    <div class="item">
                        @Resources.Common.Enable
                    </div>
                </div>
                <div class="table-row-item drp">
                    <div class="item">
                        @(Model.Enabled ? Resources.Common.Enable : Resources.Common.Disable)
                    </div>
                </div>
            </div>
        </div>
    </div>
}
