@using Radyn.Web.Mvc;
@using Radyn.Utility
@model Order
@{
    ViewBag.Title = Resources.Common.Detail;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{}
@section PageTitle{@Resources.Common.Detail}
@section PageAction {
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Reservation/Order/Index")).Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>
}
@section PageActionDown {
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Reservation/Order/Index")).Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>
}
@if (Model != null)
{
    @Html.ValidationSummary(true)
    <div class="radynForm">
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.RoomType
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item">
                    @Model.RoomType.Title
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.Room
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item">
                    @(Model.Room != null ? Model.Room.Title : "")
                </div>
            </div>
        </div>

        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.Customer
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item">
                    @if (Model.Customer != null)
                    {
                        @Model.Customer.FullName
                    }
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.PersonCount
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item">
                    @Model.PersonCount
                </div>
            </div>
        </div>

        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.HourCount
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item">
                    @Html.DisplayFor(model => model.HourCount)
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.TotalPrice
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item">
                    @Html.DisplayFor(model => model.TotalPrice)
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.PaymentType
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item">
                    @Model.PaymentType.GetDescriptionInLocalization()
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.PaymentStatus
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item">
                    @Html.DisplayFor(model => model.PaymentStatus)
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.OrderDate
                </div>
            </div>
            <div class="table-row-item">
                <div class="item date-picker">
                    @Html.DisplayFor(model => model.OrderDate)
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.EntryDate
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item date-picker">
                    @Html.DisplayFor(model => model.EntryDate)
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.ExitDate
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item date-picker">
                    @Html.DisplayFor(model => model.ExitDate)
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.EntryTime
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item">
                    @Html.DisplayFor(model => model.EntryTime)
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.ExitTime
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item">
                    @Html.DisplayFor(model => model.ExitTime)
                </div>
            </div>
        </div>
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.ReserveType
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item">
                    @Html.DisplayFor(model => model.ReserveType)
                </div>
            </div>
        </div>
    </div>
}
