@using Radyn.Web.Mvc;
@using Radyn.WebApp.AppCode.Base
@model Order
@{
    ViewBag.Title = Resources.Common.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{
    <script type="text/javascript">
        $(document).ready(function () {
            loadRooms();
        });
        function loadRooms() {
            $('#RoomId').html('');
            var id = $("#RoomTypeId").val();
            if (id != undefined && id != "") {
                RadynGet('/Reservation/Room/GetRoomsByType',
                    { roomType: id ,
                    roomId : @(Model.RoomId==null?"null":Model.RoomId.ToString())},
                    function (data) {
                        $('#RoomId').append($('<option>').attr('value', ""));
                        for (var i = 0; i < data.length; i++) {
                            var op = $('<option>').attr('value', data[i].id).text(data[i].title);
                            if ('@Model.RoomId' == data[i].id)
                                op.attr("selected", "selected");
                            $('#RoomId').append(op);
                        }
                    });

                $()
            }
            setPersonCapacity();
        }
        function checkoutRoom() {
            $.post("/Reservation/Order/Checkout", $('form[action^="/Reservation/order/Edit"]').serialize(), function (data) {
                if (data == "ok") {
                    ShowRadynMessage('@Resources.Common.UpdateSuccessMessage');
                    window.location = '/Reservation/Order/Index';
                }
                else
                    ShowRadynMessage(data);
            });
        }

        function setPersonCapacity() {
            var id = $("#RoomTypeId").val();
            $.get('/Reservation/RoomType/GetPersonCapacity', { id: id }, function (data) {
                $('#PersonCount').val(data.person);
            });

        }
    </script>

}
@section PageTitle{@Resources.Common.Edit}
@section PageAction {
    <div class="button-div m-btn waves-green i-save">
        @{Html.Radyn().ImageActionLink().Text(Resources.Common.Save).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render();}
    </div>
    @if (Model.RoomId.HasValue)
    {
        <div class="button-div m-btn waves-green i-save">
            <input type="button" onclick="checkoutRoom();" value="@Resources.Reservation.CheckoutHotel" />
        </div>
    }
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Reservation/Order/Index?hotelId=" + Model.ReserveType.HotelId)).Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>
}
@section PageActionDown {
    <div class="button-div m-btn waves-green i-save">
        @{Html.Radyn().ImageActionLink().Text(Resources.Common.Save).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render();}
    </div>

    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Reservation/Order/Index?hotelId=" + Model.ReserveType.HotelId)).Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>
}
@if (Model != null)
{
    @Html.ValidationSummary(true)
    <input type="hidden" value="@Model.Id" name="Id" />
    @Html.HiddenFor(model => model.ReserveType.HotelId)
    <div class="radynForm">
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.RoomType
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item">
                    @Html.DropDownListFor(model => model.RoomTypeId, (SelectList)ViewBag.RoomType, new { @class = "form-control", onchange = "loadRooms();" })
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.Room
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item">
                    @Html.DropDownListFor(model => model.RoomId, (SelectList)ViewBag.Room, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.FirstName
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item">
                    @Html.TextBoxFor(model => model.Customer.FirstName, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.LastName
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item">
                    @Html.TextBoxFor(model => model.Customer.LastName, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.PersonCount
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item">
                    @Html.EditorFor(model => model.PersonCount, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.HourCount
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item">
                    @Html.EditorFor(model => model.HourCount, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.TotalPrice
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item">
                    @Html.EditorFor(model => model.TotalPrice)
                </div>
            </div>
        </div>
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.PaymentType
                </div>
            </div>
            <div class="table-row-item drp">
                <div class="item">
                    @{
                        foreach (KeyValuePair<string, string> item in (List<KeyValuePair<string, string>>)ViewBag.Paymentype)
                        {
                            @Html.RadioButtonFor(model => model.PaymentType, item.Key, item.Key == Radyn.Reservation.Enum.PaymentType.Cash.ToString())@item.Value
                        }
                    }
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.PaymentStatus
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item">
                    @Html.EditorFor(model => model.PaymentStatus, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.OrderDate
                </div>
            </div>
            <div class="table-row-item">
                <div class="item date-picker">
                    @{Html.Radyn().PersianDateTimePickerFor(Model, model => model.OrderDate).Render();}
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.EntryDate
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item date-picker">
                    @{Html.Radyn().PersianDateTimePickerFor(Model, model => model.EntryDate).Render();}
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.ExitDate
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item date-picker">
                    @{Html.Radyn().PersianDateTimePickerFor(Model, model => model.ExitDate).Render();}
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.EntryTime
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item">
                    @Html.EditorFor(model => model.EntryTime, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.ExitTime
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item">
                    @Html.EditorFor(model => model.ExitTime, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.ReserveType
                </div>
            </div>
            <div class="table-row-item ">
                <div class="item">
                    @Html.DropDownListFor(model => model.ReserveType, (SelectList)ViewBag.ReserveType)
                </div>
            </div>
        </div>

    </div>
}
