@using Radyn.Utility
@using Radyn.Web.Mvc;
@using Radyn.WebApp

@model Radyn.WebDesign.DataStructure.WebSite
@{
    ViewBag.Title = @Resources.Common.Create + " " + @Resources.WebDesign.WebSite;
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Head{
    <script>
        getPartial("/WebDesign/WebSite/GetModify", { status: "@PageMode.Create" },"DivWebSite");
    </script>
}

@section PageTitle
{
    @Resources.WebDesign.WebSite @Resources.Common.New

}
@section PageAction
{
    <div class="button-div m-btn waves-green i-save ">
        @{ Html.Radyn().ImageActionLink().ActionName("Create").ControllerName("WebSite").Area("WebDesign").Text(Resources.Common.Save).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render(); }

    </div>
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().ActionName("Index").ControllerName("WebSite").Area("WebDesign").Text(Resources.Common.Return).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}

    </div>
}
@section PageActionDown
{
    <div class="button-div m-btn waves-green i-save">
        @{Html.Radyn().ImageActionLink().ActionName("Create").ControllerName("WebSite").Area("WebDesign").Text(Resources.Common.Save).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render();}

    </div>
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().ActionName("Index").ControllerName("WebSite").Area("WebDesign").Text(Resources.Common.Return).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}

    </div>
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div id="DivWebSite">
       
    </div>
}

