@using Radyn.Web.Mvc;
@{
    ViewBag.Title = "تغییر رمز";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{
    <script type="text/javascript">
        function ChangePassword(parameters) {
            $.post("@Url.Content("~/Security/User/ChangePassword")", $('form[action^="@Url.Content("~/Security/User/ChangePassword")"]').serialize(true), function (data) {
                if (data != "") {
                    ShowRadynMessage();
                }
            });
            ShowRadynMessage();
        }
    </script>
}
@section PageTitle
{

}
@section PageAction
{

    <div class="button-div m-btn waves-green i-save">
        @{Html.Radyn().ImageActionLink().ImageUrl(Url.Content("~/Content/Images/Save.png")).Text(Resources.Common.Save).Callback().CallbackType(ImageActionLink.CallbackType.post).CallbackReturnFunction(" function (data){if(data!='false') {ChangePassword();} else {ShowRadynMessage();} } ").NavigateUrl(Url.Content("~/Security/User/Validate")).Serialize(true).Render();}
    </div>

}
@section PageActionDown
{

    <div class="button-div m-btn waves-green i-save">
        @{Html.Radyn().ImageActionLink().ImageUrl(Url.Content("~/Content/Images/Save.png")).Text(Resources.Common.Save).Callback().CallbackType(ImageActionLink.CallbackType.post).CallbackReturnFunction(" function (data){if(data!='false') {ChangePassword();} else {ShowRadynMessage();} } ").NavigateUrl(Url.Content("~/Security/User/Validate")).Serialize(true).Render();}

    </div>

}

@using (Html.BeginForm("ChangePassword", "User", new { Area = "Security", Id = "frm_pass" }))
{
    <div class="table width50percent">
        <div class="fit item-row">
            <div class="table-row-cap">
                <div class="item">
                    رمز قدیم
                </div>
            </div>
            <div class="table-row-item table-fit">
                <div class="item">
                    @Html.Password("OldPassword")
                </div>
            </div>
        </div>
        <div class="fit item-row">
            <div class="table-row-cap">
                <div class="item">
                    رمز جدید

                </div>
            </div>
            <div class="table-row-item table-fit">
                <div class="item">
                    @Html.Password("NewPassword")

                </div>
            </div>
        </div>
        <div class="fit item-row">
            <div class="table-row-cap">
                <div class="item">
                    تکرار رمز جدید
                </div>
            </div>
            <div class="table-row-item table-fit">
                <div class="item">
                    @Html.Password("RepeatNewPassword")
                </div>
            </div>
        </div>
    </div>
}
