@model ReserveType
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model=>model.HotelId)
<div>
    <div class="table-row-cap">
        <div class="item">
            @Resources.Reservation.Title
        </div>
    </div>
    <div class="table-row-item ">
        <div class="item">
            @Html.TextBoxFor(model => model.Title, new { })
        </div>
    </div>
</div>
<div>
    <div class="table-row-cap">
        <div class="item">
            @Resources.Reservation.HotelName
        </div>
    </div>
    <div class="table-row-item drp">
        <div class="item">
            @Html.DisplayFor(model => model.Hotel.Name)
        </div>
    </div>
</div>
<div>
    <div class="table-row-cap">
        <div class="item">
            @Resources.Reservation.EntryTime
        </div>
    </div>
    <div class="table-row-item ">
        <div class="item">
            @Html.DropDownListFor(model => model.StartTime, (SelectList)ViewBag.Time)
        </div>
    </div>
</div>

<div>
    <div class="table-row-cap">
        <div class="item">
            @Resources.Reservation.ExitTime
        </div>
    </div>
    <div class="table-row-item ">
        <div class="item">
            @Html.DropDownListFor(model => model.EndTime, (SelectList)ViewBag.Time)
        </div>
    </div>
</div>

<div>
    <div class="table-row-cap">
        <div class="item">
            @Resources.Reservation.IsDaily
        </div>
    </div>
    <div class="table-row-item drp">
        <div class="item">
            @Html.RadioButtonFor(model => model.IsDaily, true)@Resources.Common.Yes
            @Html.RadioButtonFor(model => model.IsDaily, false)@Resources.Common.No
        </div>
    </div>
</div>

<div>
    <div class="table-row-cap">
        <div class="item">
            @Resources.Reservation.IsEnable
        </div>
    </div>
    <div class="table-row-item drp">
        <div class="item">
            @Html.RadioButtonFor(model => model.Enabled, true)@Resources.Common.Enable
            @Html.RadioButtonFor(model => model.Enabled, false)@Resources.Common.Disable
        </div>
    </div>
</div>

<div>
    <div class="table-row-cap">
        <div class="item">
            @Resources.Reservation.Order
        </div>
    </div>
    <div class="table-row-item ">
        <div class="item">
            @Html.EditorFor(model => model.Order, new { })
        </div>
    </div>
</div>