@using Radyn.News.DataStructure
@using Radyn.Utility
@using Radyn.Web.Mvc;
@using Radyn.WebApp.Areas.Common.Component
@model PublishType
@{
    ViewBag.Title = Resources.News.PublishTypeTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{}
@section PageTitle
{
    @Resources.Common.Detail @Resources.News.PublishTypeTitle

}
@section PageAction
{
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().ActionName("Index").ControllerName("PublishType").Area("News").Text(Resources.Common.Return).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}

    </div>

}
@section PageActionDown
{
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().ActionName("Index").ControllerName("PublishType").Area("News").Text(Resources.Common.Return).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>
}
@Html.ValidationSummary(true)
<div class="radynForm">
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.News.Title
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @{
                    Html.LanguageContentDisplayFor(Model, m => m.Title);
                }
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.News.Enabled
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @(Model.Enabled ? Resources.Common.Enable : Resources.Common.Disable)
            </div>
        </div>
    </div>
</div>

