@using Radyn.Web.Mvc;
@model Radyn.PhoneBook.DataStructure.PhoneType
@{
    ViewBag.Title = @Resources.Common.Edit + " " + @Resources.PhoneBook.PhoneType;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{}
@section PageTitle
{
    @Resources.Common.Edit @Resources.PhoneBook.PhoneType
}
@section PageAction
{
    <div class="button-div m-btn waves-green i-save">
        @{Html.Radyn().ImageActionLink().ActionName("Edit").ControllerName("PhoneType").Area("PhoneBook").Text(@Resources.Common.Save).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render();}
    </div>
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().ActionName("Index").ControllerName("PhoneType").Area("PhoneBook").Text(@Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>
}
@section PageActionDown
{
    <div class="button-div m-btn waves-green i-save">
        @{Html.Radyn().ImageActionLink().ActionName("Edit").ControllerName("PhoneType").Area("PhoneBook").Text(@Resources.Common.Save).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render();}
    </div>
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().ActionName("Index").ControllerName("PhoneType").Area("PhoneBook").Text(@Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>
}


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="radynForm">
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.PhoneBook.Title
                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    @Html.EditorFor(model => model.Title)
                </div>
            </div>
        </div>
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    قابل نمایش در جستجو
                </div>
            </div>
            <div class="table-row-item drp">
                <div class="item">
                    @Html.RadioButtonFor(model => model.ShowSearchResult, true)@Resources.Common.Yes
                    @Html.RadioButtonFor(model => model.ShowSearchResult, false)@Resources.Common.No
                </div>
            </div>
        </div>
    </div>
}
