@using Radyn.Web.Mvc;
@model UserHotelAccess
@{
    ViewBag.Title = Resources.Common.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{}
@section PageTitle{@Resources.Common.Edit}
@section PageAction {
    <div class="button-div m-btn waves-green i-save">
        @{Html.Radyn().ImageActionLink().Text(Resources.Common.Save).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render();}
    </div>
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Reservation/UserHotelAccess/Index")).Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>
}
@section PageActionDown {
    <div class="button-div m-btn waves-green i-save">
        @{Html.Radyn().ImageActionLink().Text(Resources.Common.Save).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render();}
    </div>
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Reservation/UserHotelAccess/Index")).Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>
}
@if (Model != null)
{
    @Html.ValidationSummary(true)
    <div class="radynForm">
        <div class="fit">
            <div>
                <div class="table-row-cap">
                    <div class="item">
                        @Resources.Reservation.User
                    </div>
                </div>
                <div class="table-row-item ">
                    <div class="item">
                        @Html.DropDownListFor(model => model.UserId, (SelectList)ViewBag.User)
                    </div>
                </div>
            </div>
            <div>
                <div class="table-row-cap">
                    <div class="item">
                        @Resources.Reservation.HotelName
                    </div>
                </div>
                <div class="table-row-item ">
                    <div class="item">
                        @Html.DropDownListFor(model => model.HotelId, (SelectList)ViewBag.Hotel)
                    </div>
                </div>
            </div>
            <div>
                <div class="table-row-cap">
                    <div class="item">
                        @Resources.Reservation.OfficeName
                    </div>
                </div>
                <div class="table-row-item ">
                    <div class="item">
                        @Html.DropDownListFor(model => model.OfficeId, (SelectList)ViewBag.HotelOffice)
                    </div>
                </div>
            </div>
            <div>
                <div class="table-row-cap">
                    <div class="item">
                        @Resources.Reservation.Room
                    </div>
                </div>
                <div class="table-row-item ">
                    <div class="item">
                        @Html.DropDownListFor(model => model.RoomId, (SelectList)ViewBag.Room)
                    </div>
                </div>
            </div>
        </div>
    </div>
}
