@using Radyn.Web.Mvc
@{
    ViewBag.Title = Resources.Security.ForgotPassword;
    Layout = "~/Views/Shared/User_Layout.cshtml";
}
<div class="container-hd">

    <div class="container-box">
        <div>
            @using (Html.BeginForm())
            {
                <div class="login-container-bg">
                    <div class="login-container">
                        <div class="login-header">
                            <p>@Resources.WebDesign.RecoverPassword</p>
                        </div>
                        <div class="login-main">
                            <span class="login-avatar">
                                <img src="/Content/Images/avatar-001.jpg" />
                            </span>
                            <div class="login-data-row">
                                <div class="login-data-row-item">
                                    <input name="username" placeholder="@Resources.WebDesign.UserName" id="usernamelabel" type="text" />
                                    @{Html.Radyn().Validator().ID("username").GroupName("g1").Render(); }
                                </div>
                            </div>


                            <div class="login-data-row  input-row">
                                <div class="login-data-row-item">
                                    <div>
                                        <label>

                                        </label>
                                        <div class="captcha-control">
                                            @{Html.Radyn().Captcha().Render(); }
                                        </div>
                                        <input type="text" name="captch" placeholder="@Resources.WebDesign.Captcha" />

                                    </div>
                                </div>
                            </div>
                            <div class="login-data-row">
                                <div class="login-data-row-item">
                                    @{Html.Radyn().ButtonActionLink().CallbackType(ButtonActionLink.CallbackType.post).Text(@Resources.WebDesign.Send).NavigateUrl("/WebDesign/UserPanel/Login").Submit().ID("button-yellow").Render(); }
                                    <a href="@Url.Content("~/WebDesign/UserPanel/ForgotPassword")" class="btn-login-solid">
                                        @Resources.Security.ForgotPassword
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
