@using Radyn.Web.Mvc
@using Radyn.WebApp.Areas.EnterpriseNode.ExtentionTools
@model Radyn.WebDesign.DataStructure.User
@{
    ViewBag.Title = Resources.Security.ForgotPassword;
    Layout = "~/Views/Shared/User_Layout.cshtml";
}
@section Head
{}

<div class="container-hd users-page">
    <div class="widget">
        <div class="container-header widget-title">
            <div class="container-header-item ">
                <ul class="list-inline" style="margin: 0">

                    <li>
                        <span>@Resources.WebDesign.RecoverPassword</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container-box widget-content">
            @using (Html.BeginForm())
            {
                <div class="fit">
                    @*@Html.AntiForgeryToken("radynAntiFor")*@
                    <div align="center">
                        <font color="red">@ViewBag.Message</font>
                    </div>
                    <div>


                        @Model.EnterpriseNode.EnterpriseNodeTitle()



                        <p class="message-password">
                            @Resources.Common.SelectNewPassword
                        </p>
                        <div class="item-input">
                            <div class="table-row-cap ">
                                <div class="item">
                                    @Resources.WebDesign.NewPassword
                                </div>
                            </div>

                            <div class="table-row-item ">
                                <div class="item">
                                    <input type="password" name="password" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="item-input">
                            <div class="table-row-cap ">
                                <div class="item">
                                    @Resources.WebDesign.RepeatPassword
                                </div>
                            </div>
                            <div class="table-row-item ">
                                <div class="item">
                                    <input type="password" name="RepeatPassword" value="" />
                                </div>
                            </div>
                        </div>
                        <div class="item-input">
                            <div class="table-row-cap ">
                                <div class="item">
                                    @Resources.Common.PleaseEnterTheText
                                </div>
                            </div>
                            <div class="table-row-item ">
                                <div class="item">
                                    @{Html.Radyn().Captcha().Render(); }
                                    <input type="text" class="captcha" name="captch" value="" />



                                </div>
                            </div>

                        </div>
                        <div class="fit" >
                            <div class="login-data-row">
                                <div class="login-data-row-item" style="width: 100px;float: left;margin: 0;">
                                    @{Html.Radyn().ButtonActionLink().CallbackType(ButtonActionLink.CallbackType.post).NavigateUrl(Url.Content("~/WebDesign/UserPanel/Login")).Submit().Text(Resources.Common.Save).Render(); }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                        }
        </div>
    </div>






</div>