@using System.Web.Mvc.Html
@using Radyn.WebApp.Areas.FormGenerator.Tools
@model Radyn.FormGenerator.DataStructure.FormStructure
<div class="radynForm">
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.FormGenerator.Name

            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @Html.DisplayFor(model => model.Name)
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Common.Enable
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @(Model.Enable ? @Resources.Common.Enable : @Resources.Common.Disable)
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.ContentManager.Container
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @Html.DisplayFor(content => content.Container.Title)
            </div>
        </div>
    </div>
    <div class="item-row">
        <div class="table-row-cap">
            <div class="item">
                @Resources.Security.Menu
            </div>
        </div>
        <div class="table-row-item table-c-fit">
            <div class="item">
                @Html.DisplayFor(content => content.Menu.Text)
            </div>
        </div>
    </div>

</div>
<div class="radynForm">
    @{
        Html.FormHtmlGenerator(Model.Id);
    }
</div>

