@model Radyn.Statistics.Tools.ModelView.StatisticsModel
<div class="container-box">
    <b>@Resources.Statistics.TodayViewerCount</b>:@Model.TodaySesstionCount
    <br />
    <b>@Resources.Statistics.YesterDayviewerCount</b>:@Model.YesterDaySesstionViewCount
    <br />
    <b>@Resources.Statistics.Last7DaysViewerCount</b>:@Model.Last7DaysSesstionViewCount
    <br />
    <b>@Resources.Statistics.CurrentMothViewerCount</b>:@Model.CurrentMonthSessionViewCount
    <br />
    <b>@Resources.Statistics.TotalView</b>:@Model.TotalSesstionCount
</div>

