@using Radyn.Common.Definition
@using Radyn.Utility
@using Radyn.Web.Mvc;

@model IEnumerable<Radyn.Payment.DataStructure.DiscountType>
    @{
        ViewBag.Title = @Resources.Common.List + " " + @Resources.Payment.Paymentorder;
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @section Head{}

    @section PageTitle
{

    }
    @section PageAction
{
        <div class="button-div m-btn waves-blue i-add">
            @{Html.Radyn().ImageActionLink().ActionName("Create").ControllerName("DiscountType").Area("Payment").Text(@Resources.Payment.DiscountType + " " + @Resources.Common.New).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).ImageHeight("20").ImageWidth("20").Render();}

        </div>
    }
    @section PageActionDown
{
        <div class="button-div m-btn waves-blue i-add">
            @{Html.Radyn().ImageActionLink().ActionName("Create").ControllerName("DiscountType").Area("Payment").Text(@Resources.Payment.DiscountType + " " + @Resources.Common.New).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).ImageHeight("20").ImageWidth("20").Render();}

        </div>

    }
    <div class="radynForm">
        @{Html.Radyn().Grid(Model).Name("Grid").HtmlAttributes(new { style = "width:98%;margin: 0 auto" }).Columns(columns =>
                {
                    columns.Template(discountType => discountType.Title).Title(@Resources.Payment.Title).Width(200).HeaderHtmlAttributes(new { style = "text-align:center" });
                    columns.Template(discountType => discountType.IsPercent ? discountType.ValidValue + "%" : discountType.ValidValue + " " + discountType.CurrencyType.ToEnum<Enums.CurrencyType>().GetDescriptionInLocalization()).Title(@Resources.Payment.DiscountValue).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
                    columns.Template(discountType => discountType.Enabled ? Resources.Common.Enable : Resources.Common.Disable).Title(@Resources.Common.Enable).Width(60).HeaderHtmlAttributes(new { style = "text-align:center" });
                    columns.Template(discountType => discountType.ForceAttach ? Resources.Common.Yes : Resources.Common.No).Title(@Resources.Payment.ISForceAttachFile).Width(60).HeaderHtmlAttributes(new { style = "text-align:center" });
                    columns.Template(resource =>
                        "<a style='cursor: pointer;'  href='" + Url.Content("~/Payment/DiscountType/Details?Id=" + resource.Id) + "'>" +
                        " <img width='18' align='absmiddle' title='" + Resources.Common.Detail + "' src='" + Url.Content("~/Content/Images/details.png") + "' />" + "</a> | " +
                        "<a style='cursor: pointer;'  href='" + Url.Content("~/Payment/DiscountType/Edit?Id=" + resource.Id) + "'> " +
                        " <img width='18' align='absmiddle' title='" + Resources.Common.Edit + "' src='" + Url.Content("~/Content/Images/edit.png") + "' />" + "</a> | " +
                        "<a style='cursor: pointer;'  href='" + Url.Content("~/Payment/DiscountType/Delete?Id=" + resource.Id) + "'>" +
                        " <img width='18' align='absmiddle' title='" + Resources.Common.Delete + "' src='" + Url.Content("~/Content/Images/Delete-Close.png") + "' />" + "</a> ").Width(300).Filterable(false).Encode(false);

                })

              .Sortable(sorting => sorting.Enabled(true))
              .Pageable(paging => paging.Enabled(true))
              .Filterable(filtering => filtering.Enabled(true))
              //.Footer(true)
              .Render();}

    </div>
