@using Radyn.FileManager
@using Radyn.Utility
@using Radyn.Web.Mvc;
@model Radyn.Security.DataStructure.Menu
@{
    ViewBag.Title = @Resources.Common.Delete + " " + @Resources.Security.MenuName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{}
@section PageTitle
{
    @Resources.Common.DeleteMessage
}
@section PageAction
{
    <div class="button-div m-btn waves-red i-check">
        @{Html.Radyn().ImageActionLink().ActionName("Delete").ControllerName("Menu").Area("Security").Text(@Resources.Common.Yes).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/Delete-Close.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render();}
    </div>
    <div class="button-div m-btn waves-green i-return">
        @{Html.Radyn().ImageActionLink().ActionName("Index", new { selectedId = Model.Id }).ControllerName("Menu").Area("Security").Text(@Resources.Common.No).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>

}
@section PageActionDown
{
    <div class="button-div m-btn waves-red i-check">
        @{Html.Radyn().ImageActionLink().ActionName("Delete").ControllerName("Menu").Area("Security").Text(@Resources.Common.Yes).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/Delete-Close.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render();}
    </div>
    <div class="button-div m-btn waves-green i-return">
        @{Html.Radyn().ImageActionLink().ActionName("Index", new { selectedId = Model.Id }).ControllerName("Menu").Area("Security").Text(@Resources.Common.No).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    if (Model != null)
    {
        <div class="radynForm">
            <div class="item-row">
                <div class="table-row-cap">
                    <div class="item">
                        @Resources.Security.MenuTitle
                    </div>
                </div>
                <div class="table-row-item table-c-fit">
                    <div class="item">
                        @Html.DisplayFor(model => model.Title)
                    </div>
                </div>
            </div>
            <div class="item-row">
                <div class="table-row-cap">
                    <div class="item">
                        @Resources.Security.MenuUrl

                    </div>
                </div>
                <div class="table-row-item table-c-fit">
                    <div class="item">
                        @Html.DisplayFor(model => model.Url)
                    </div>
                </div>
            </div>
            <div class="item-row">
                <div class="table-row-cap">
                    <div class="item">
                        @Resources.Security.MenuParentId

                    </div>
                </div>
                <div class="table-row-item table-c-fit">
                    <div class="item">
                        @(Model.ParentId.HasValue ? Model.ParentMenu.Title : "")
                    </div>
                </div>
            </div>
            <div class="item-row">
                <div class="table-row-cap">
                    <div class="item">
                        @Resources.Security.MenuOrder

                    </div>
                </div>
                <div class="table-row-item table-c-fit">
                    <div class="item">
                        @Html.DisplayFor(model => model.Order)
                    </div>
                </div>
            </div>
            <div class="item-row">
                <div class="table-row-cap">
                    <div class="item">
                        @Resources.Security.MenuDisplay

                    </div>
                </div>
                <div class="table-row-item table-c-fit">
                    <div class="item">
                        @(Model.Display ? Resources.Common.Yes : Resources.Common.No)
                    </div>
                </div>
            </div>
            <div class="item-row">
                <div class="table-row-cap">
                    <div class="item">
                        @Resources.Common.Status

                    </div>
                </div>
                <div class="table-row-item table-c-fit drp">
                    <div class="item">
                        @(Model.Display ? Resources.Common.Enable : Resources.Common.Disable)
                    </div>
                </div>
            </div>
            <div class="item-row">
                <div class="table-row-cap table-c-fit">
                    <div class="item">
                        @Resources.Security.OprationIcon
                    </div>
                </div>
                <div class="table-row-item table-c-fit">
                    <div class="item">
                        @if (Model.ImageId.HasValue)
                        {
                            Html.RadynFile().Image().ID(Model.ImageId.Value).Height(50).Width(50).Render();
                        }
                    </div>
                </div>
            </div>

            @Html.HiddenFor(model => model.Id)

        </div>
    }

}
