@using Radyn.Web.Mvc;

@model IEnumerable<Radyn.Common.DataStructure.Currency>
    @{
        ViewBag.Title = @Resources.Common.List + " " + @Resources.CommonComponent.Currency;
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @section Head{}
    @section PageTitle
{
        @Resources.Common.List @Resources.CommonComponent.Currency
    }
    @section PageAction
{
        <div class="button-div m-btn waves-blue i-add">
            @{Html.Radyn().ImageActionLink().ActionName("Create").ControllerName("Currency").Area("Common").Text(@Resources.CommonComponent.Currency + " " + @Resources.Common.New).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).Render(); }
        </div>
    }
    @section PageActionDown
{
        <div class="button-div m-btn waves-blue i-add">
            @{Html.Radyn().ImageActionLink().ActionName("Create").ControllerName("Currency").Area("Common").Text(@Resources.CommonComponent.Currency + " " + @Resources.Common.New).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).Render(); }
        </div>
    }
    @{Html.Radyn().Grid(Model).Name("Grid").HtmlAttributes(new { style = "width:98%;margin: 0 auto" }).Columns(columns =>
          {
              columns.Template(currency => currency.Title).Title(@Resources.Common.Title).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
              columns.Template(currency => currency.Enabled ? Resources.Common.Enable : Resources.Common.Disable).Title(@Resources.Common.Enable).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
              columns.Template(currency =>
                  "<a style='cursor: pointer;'  href='" + Url.Content("~/Common/Currency/Details?Id=" + currency.Id) + "'>" +
                  " <img width='18' align='absmiddle' title='" + Resources.Common.Detail + "' src='" + Url.Content("~/Content/Images/details.png") + "' />" + "</a> | " +
                  "<a style='cursor: pointer;'  href='" + Url.Content("~/Common/Currency/Edit?Id=" + currency.Id) + "'> " +
                  " <img width='18' align='absmiddle' title='" + Resources.Common.Edit + "' src='" + Url.Content("~/Content/Images/edit.png") + "' />" + "</a> | " +
                  "<a style='cursor: pointer;'  href='" + Url.Content("~/Common/Currency/Delete?Id=" + currency.Id) + "'>" +
                  " <img width='18' align='absmiddle' title='" + Resources.Common.Delete + "' src='" + Url.Content("~/Content/Images/Delete-Close.png") + "' />" + "</a> ").Width(300).Filterable(false).Encode(false);

          })

        .Sortable(sorting => sorting.Enabled(true))
        .Pageable(paging => paging.Enabled(true))
        .Filterable(filtering => filtering.Enabled(true))
        //.Footer(true)
        .Render();}

