@model Radyn.ContentManager.DataStructure.Content
<script type="text/javascript">

        $(document).ready(function () {
            var isMenu = '@Model.IsMenu';
            var ismenuBool = isMenu == "True" ? true : false;
            var isSection = '@Model.IsSection';
            var isSectionBool = isSection == "True" ? true : false;
            var hasContainer = '@Model.HasContainer';
            var hasContainerBool = hasContainer == "True" ? true : false;
            ChechBoxHide(ismenuBool, 'IsMenu');
            ChechBoxHide(isSectionBool, 'IsSection');
            ChechBoxHide(hasContainerBool, 'HasContainer');
            ContentContent();
        });

        function ChechBoxHide(boolean, elementName) {
            if (boolean) {
                $("#" + elementName + "tr").show();
                document.getElementById("Check" + elementName).checked = true;
            }
            else {
                $("#" + elementName + "tr").hide();
                document.getElementById("Check" + elementName).checked = false;
            }
        }
        function ContentContent() {
            $.get("@Url.Content("~/ContentManager/ContentContent/Modify")", { state: "Details", contentId: '@Model.Id', id: new Date().getTime() }, function (data) {
                $("#ConetentContent").html(data);

            });
        }

</script>

<div class="radynForm">
    <div id="ConetentContent">
    </div>
    @Html.ValidationSummary(true)
    <div>
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.ContentManager.UserScript
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @Html.DisplayFor(model => model.UserScript)
                </div>
            </div>
        </div>
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.ContentManager.PageName
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @Html.DisplayFor(model => model.PageName)
                </div>
            </div>
        </div>
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.ContentManager.KeyWord
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @Html.DisplayFor(model => model.Keyword)
                </div>
            </div>
        </div>
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Common.Enable
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @(Model.Enabled ? @Resources.Common.Enable : @Resources.Common.Disable)
                </div>
            </div>
        </div>
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.ContentManager.StartDate
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @Html.DisplayFor(model => model.StartDate)
                </div>
            </div>
        </div>
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.ContentManager.ExpireDate
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @Html.DisplayFor(model => model.StartDate)
                </div>
            </div>
        </div>
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Common.Enable
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @(Model.Enabled ? @Resources.Common.Enable : @Resources.Common.Disable)
                </div>
            </div>
        </div>
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.ContentManager.HasContainer
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    <input type="checkbox" name="ChekForIsmenu" id="CheckHasContainer" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.ContentManager.ISMenu
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    <input type="checkbox" name="CheckIsMenu" id="CheckIsMenu" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.ContentManager.ISeSection
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    <input type="checkbox" name="CheckIsSection" id="CheckIsSection" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.ContentManager.Container
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @Html.DisplayFor(content => content.Container.Title)
                </div>
            </div>
        </div>
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Security.Menu
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @Html.DisplayFor(content => content.Menu.Text)
                </div>
            </div>
        </div>
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.ContentManager.Section
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @Html.DisplayFor(content => content.Section.Title)
                </div>
            </div>
        </div>
    </div>
</div>

