@using Radyn.Web.Mvc;

@using Radyn.Utility
@model IEnumerable<Radyn.ContentManager.DataStructure.DefaultHtmlDesgin>
    @{
        ViewBag.Title = @Resources.Common.List + " " + @Resources.ContentManager.Html;
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @section Head{}
    @section PageTitle
{
        @Resources.Common.List @Resources.ContentManager.Html
    }
    @section PageAction
{
        <div class="button-div m-btn waves-blue i-add">
            @{Html.Radyn().ImageActionLink().ActionName("Create").ControllerName("DefaultHtmlDesgin").Area("ContentManager").Text(@Resources.ContentManager.Html + " " + @Resources.Common.New).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
        </div>
    }
    @section PageActionDown
{
        <div class="button-div m-btn waves-blue i-add">
            @{Html.Radyn().ImageActionLink().ActionName("Create").ControllerName("DefaultHtmlDesgin").Area("ContentManager").Text(@Resources.ContentManager.Html + " " + @Resources.Common.New).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
        </div>
    }
        <div class="radynForm">
    @{Html.Radyn().Grid(Model).Name("Grid").HtmlAttributes(new { style = "width:98%;margin: 0 auto" }).Columns(columns =>
          {
              columns.Template(htmlDesgin => htmlDesgin.Title).Title(@Resources.ContentManager.Html).Width(300).HeaderHtmlAttributes(new { style = "text-align:center" });
              columns.Template(htmlDesgin => htmlDesgin.Enabled ? Resources.Common.Enable : Resources.Common.Disable).Title(@Resources.Common.Enable).Width(100).HeaderHtmlAttributes(new { style = "text-align:center" });
              columns.Template(advertisement =>
                  "<a style='cursor: pointer;'  href='" + Url.Content("~/ContentManager/DefaultHtmlDesgin/Details?Id=" + advertisement.Id) + "'>" +
                  " <img width='18' align='absmiddle' title='" + Resources.Common.Detail + "' src='" + Url.Content("~/Content/Images/details.png") + "' />" + "</a> | " +
                  "<a style='cursor: pointer;'  href='" + Url.Content("~/ContentManager/DefaultHtmlDesgin/Edit?Id=" + advertisement.Id) + "'> " +
                  " <img width='18' align='absmiddle' title='" + Resources.Common.Edit + "' src='" + Url.Content("~/Content/Images/edit.png") + "' />" + "</a> | " +
                  "<a style='cursor: pointer;'  href='" + Url.Content("~/ContentManager/DefaultHtmlDesgin/Delete?Id=" + advertisement.Id) + "'>" +
                  " <img width='18' align='absmiddle' title='" + Resources.Common.Delete + "' src='" + Url.Content("~/Content/Images/Delete-Close.png") + "' />" + "</a>  " ).Width(300).Filterable(false).Encode(false);


          })

        .Sortable(sorting => sorting.Enabled(true))
        .Pageable(paging => paging.Enabled(true))
        .Filterable(filtering => filtering.Enabled(true))
        //.Footer(true)
        .Render();}

        </div>