@using Radyn.Web.Mvc;
@using Radyn.WebApp.AppCode.Base
@model Radyn.ContentManager.DataStructure.Menu
@{
    ViewBag.Title = @Resources.Common.Create + " " + @Resources.Security.MenuName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head
{
    <script type="text/javascript">
        $("#DivItem").html("");
        $.get("@Url.Content("~/ContentManager/Menu/GetModify")", { menuurl: "@Url.Content("~/ContentManager/WebDesignMenu/LookUpMenu")", date: new Date().getTime() }, function (data) {
             $("#DivItem").html(data).slideDown("slow");;
         });
    </script>
}
@section PageTitle
{
    @Resources.Security.MenuName @Resources.Common.New
}
@section PageAction
{
    <div class="button-div m-btn waves-green">
        <i class="fas fa-save"></i>
        @{Html.Radyn().ImageActionLink().Text(Resources.Common.Save).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render(); }
    </div>
    <div class="button-div m-btn waves-blue">
        <i class="fas fa-plus"></i>
        @{Html.Radyn().ImageActionLink().Text(Resources.Common.SaveAndNew).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "FormSubmitAction('" + FormSubmitAction.SaveAndNew + "');" }).Render(); }
    </div>
    <div class="button-div m-btn waves-blue">
        <i class="fas fa-plus"></i>
        @{Html.Radyn().ImageActionLink().Text(Resources.Common.SaveAndNewLanguage).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "FormSubmitAction('" + FormSubmitAction.SaveAndNewLanguage + "');" }).Render(); }
    </div>

}
@section PageActionDown
{
    <div class="button-div m-btn waves-green">
        <i class="fas fa-save"></i>
        @{Html.Radyn().ImageActionLink().Text(Resources.Common.Save).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render(); }
    </div>
    <div class="button-div m-btn waves-blue">
        <i class="fas fa-plus"></i>
        @{Html.Radyn().ImageActionLink().Text(Resources.Common.SaveAndNew).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "FormSubmitAction('" + FormSubmitAction.SaveAndNew + "');" }).Render(); }
    </div>
    <div class="button-div m-btn waves-blue">
        <i class="fas fa-plus"></i>
        @{Html.Radyn().ImageActionLink().Text(Resources.Common.SaveAndNewLanguage).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Save.png")).ImagePosition(ImageActionLink.Position.Right).OtherAttribute(new { onclick = "FormSubmitAction('" + FormSubmitAction.SaveAndNewLanguage + "');" }).Render(); }
    </div>

}
@using (Html.BeginForm())
{
    <div id="DivItem"></div>
}
