@using Radyn.FAQ.DataStructure
@using Radyn.FAQ.Tools
@using Radyn.Utility
@using Radyn.Web.Mvc
@using Radyn.WebApp.AppCode.Security

@model IEnumerable<FAQ>
    @{
        ViewBag.Title = Resources.FAQ.FAQList;
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    @section Head{}
    @section PageTitle
{
        @Resources.FAQ.FAQList
    }
    @section PageAction
{
        <div class="button-div m-btn waves-blue">
            <i class="fas fa-plus"></i>
            @{ Html.Radyn().ImageActionLink().ActionName("Create").ControllerName("WebDesignFAQ").Area("FAQ").Text(@Resources.FAQ.NewFAQ).Align(ImageActionLink.Alignment.Right).ImageUrl(Url.Content("~/Content/Images/Add.png")).ImagePosition(ImageActionLink.Position.Right).Render(); }
        </div>
        <div class="button-div m-btn waves-red i-return">
            @{Html.Radyn().ImageActionLink().ActionName("Index").ControllerName("WebDesignFAQ").Area("FAQ").Text(Resources.Common.Return).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
        </div>
    }

    @using (Html.BeginForm())
    {
        <div class="radynForm">
            <div class="item-row">
                <div class="table-row-cap">
                    <div class="item">
                        @Resources.FAQ.SearchKeyword
                    </div>
                </div>
                <div class="table-row-item select-row two-col">
                    @Html.TextBox("txtvalue", (string)ViewBag.value)
                    <div class="m-btn waves-blue i-search icon-btn ">
                        <span>
                            @{ Html.Radyn().ImageActionLink().ActionName("Index").ControllerName("WebDesignFAQ").Area("FAQ").Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/search_button.png")).ImagePosition(ImageActionLink.Position.Right).Submit().ImageWidth("24").ImageHeight("24").Render(); }

                        </span>
                    </div>
                </div>
            </div>


            <div class="fit">
                @{
                    Html.Radyn().Grid(Model).Name("Grid").HtmlAttributes(new { style = "width:98%;margin: 0 auto" }).Columns(columns =>
                    {
                        columns.Template(@<text><img alt="@item.Question" style="display: @(item.ThumbnailId.HasValue ? "inline" : "none");" src="@Radyn.FileManager.FileManagerContants.FileHandlerRoot@item.ThumbnailId" height="50" width="80" /></text>).Title(@Resources.FAQ.Thumbnail);
columns.Template(faq => faq.Content(SessionParameters.Culture).Question).Title(Resources.FAQ.Question.Trancate(50)).Width(350).HeaderHtmlAttributes(new { style = "text-align:center" });
columns.Template(faq => faq.Content(SessionParameters.Culture).Answer).Title(Resources.FAQ.Answer.Trancate(50)).Width(400).HeaderHtmlAttributes(new { style = "text-align:center" });
columns.Template(resource =>
"<a style='cursor: pointer;'  href='" + Url.Content("~/FAQ/WebDesignFAQ/Details?Id=" + resource.Id) + "'>" +
" <img width='18' align='absmiddle' title='" + Resources.Common.Detail + "' src='" + Url.Content("~/Content/Images/details.png") + "' />" + "</a> | " +
"<a style='cursor: pointer;'  href='" + Url.Content("~/FAQ/WebDesignFAQ/Edit?Id=" + resource.Id) + "'> " +
" <img width='18' align='absmiddle' title='" + Resources.Common.Edit + "' src='" + Url.Content("~/Content/Images/edit.png") + "' />" + "</a> | " +
"<a style='cursor: pointer;'  href='" + Url.Content("~/FAQ/WebDesignFAQ/Delete?Id=" + resource.Id) + "'> " +
" <img width='18' align='absmiddle' title='" + Resources.Common.Delete + "' src='" + Url.Content("~/Content/Images/Delete-Close.png") + "' />" + "</a>").Width(300).Filterable(false).Encode(false);
})
.Sortable(sorting => sorting.Enabled(true))
.Pageable(paging => paging.Enabled(true))
.Filterable(filtering => filtering.Enabled(true))
.Footer(false).Render();
                }
            </div>
        </div>
    }


