@using Radyn.Utility
@using Radyn.Web.Mvc
@model Radyn.Security.DataStructure.Group
@{
    ViewBag.Title = @Resources.Common.Delete + " " + @Resources.Security.GroupName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{}
@section PageTitle
{
    @Resources.Common.DeleteMessage
}
@section PageAction
{
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().ActionName("RemoveGroup", new { roleId = Request.QueryString["roleId"] }).ControllerName("RoleGroups").Area("Security").Text(@Resources.Common.Delete).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/Delete-Close.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render();}

    </div>
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().ActionName("Index", new { roleId = Request.QueryString["roleId"] }).ControllerName("RoleGroups").Area("Security").Text(@Resources.Common.Return).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}

    </div>

}
@section PageActionDown
{
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().ActionName("RemoveGroup", new { roleId = Request.QueryString["roleId"] }).ControllerName("RoleGroups").Area("Security").Text(@Resources.Common.Delete).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/Delete-Close.png")).ImagePosition(ImageActionLink.Position.Right).Submit().Render();}

    </div>
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().ActionName("Index", new { roleId = Request.QueryString["roleId"] }).ControllerName("RoleGroups").Area("Security").Text(@Resources.Common.Return).Align(Resources.Common.Aligment.ToEnum<ImageActionLink.Alignment>()).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}

    </div>

}

@using (Html.BeginForm())
{


    @Html.ValidationSummary(true)
    <div class="radynForm">
        <div class="item-row">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Security.RoleName
                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    @Html.DisplayFor(model => model.Name)
                    @Html.HiddenFor(model => model.Id)
                </div>
            </div>
        </div>
    </div>

}