@using Radyn.Web.Mvc;
@model Hotel
@{
    /**/

    ViewBag.Title = Resources.Common.Delete;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{}
@section PageTitle{@Resources.Common.Delete}
@section PageAction {
    <div class="button-div m-btn waves-red i-delete">
        @{Html.Radyn().ImageActionLink().Text(Resources.Common.Delete).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Delete-Close.png")).ImagePosition(ImageActionLink.Position.Right).ImageWidth("15").Submit().Render();}
    </div>
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Reservation/Hotel/Index")).Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>
}
@section PageActionDown {
    <div class="button-div m-btn waves-red i-delete">
        @{Html.Radyn().ImageActionLink().Text(Resources.Common.Delete).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/Delete-Close.png")).ImagePosition(ImageActionLink.Position.Right).ImageWidth("15").Submit().Render();}
    </div>
    <div class="button-div m-btn waves-red i-return">
        @{Html.Radyn().ImageActionLink().NavigateUrl(Url.Content("~/Reservation/Hotel/Index")).Text(Resources.Common.Return).Align(ImageActionLink.Alignment.Left).ImageUrl(Url.Content("~/Content/Images/go-back.png")).ImagePosition(ImageActionLink.Position.Right).Render();}
    </div>
}
@if (Model != null)
{
    @Html.ValidationSummary(true)
    <div class="radynForm">

        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.HotelName
                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.Country
                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    @Html.DisplayFor(model => model.Country.Name)
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Common.Enable
                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    @(Model.Enabled ? Resources.Common.Enable : Resources.Common.Disable)
                </div>
            </div>
        </div>
        
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.Gallery
                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    @Html.DisplayFor(model => model.Gallery.Title)
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.Address
                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    @Html.DisplayFor(model => model.Address)
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.Location
                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    @Html.DisplayFor(model => model.Location)
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.Province
                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    @Html.DisplayFor(model => model.Province.Title)
                </div>
            </div>
        </div>
        <div>
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.City
                </div>
            </div>
            <div class="table-row-item">
                <div class="item">
                    @Html.DisplayFor(model => model.City.Title)
                </div>
            </div>
        </div>
        <div class="item-row fit">
            <div class="table-row-cap">
                <div class="item">
                    @Resources.Reservation.Picture
                </div>
            </div>
            <div class="table-row-item table-c-fit">
                <div class="item">
                    @{Html.RadynFile().Image().ID(Model.PicId.Value).Width(50).Height(50).Render();}

                </div>
            </div>
        </div>
    </div>
}
